<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path/to/flowbite/dist/flowbite.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        .scroll::-webkit-scrollbar {
            width: 6px;
        }

        .scroll::-webkit-scrollbar-thumb {
            background-color: beige;
        }

        .bg-dout {
            background: linear-gradient(120deg, rgb(255, 0, 0), rgb(179, 255, 0));
        }

        .scroll-2 {

            overflow-x: scroll;
            scrollbar-color: rgb(255, 255, 255);
        }

        .smoothEffect {
            transition: all 2s ease;
        }

        .underlineEffect {
            color: inherit;
            text-decoration: none;
        }

        .glass {
            background: rgba(255, 255, 255, 0.18);
            backdrop-filter: blar(10px);
        }

        .icon {
            visibility: hidden;
        }

        .icon:hover {
            visibility: visible;
        }

        img:hover+.icon {
            visibility: visible;
        }

        .showbox {
            visibility: hidden;
        }

        .showbox:hover {
            visibility: visible;
        }

        .iconbox:hover+.showbox {
            visibility: visible;
        }

        .searchicon:hover+.showinput {
            visibility: visible;
        }

        .comment-box {
            display: none;
            /* Additional styles for the comment box */
        }

        .btnclick:hover+.showOpt {
            display: block;
        }

        .shadowEffect {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        @media only screen and (max-width: 600px) {
            .profilebox {
                display: none;
            }

            .texthide {
                display: none;
            }

            #flex-n {
                display: block;
                /* Remove 'flex' display */
            }

            .comment-box {
                width: 100%;
                /* Additional styles for the comment box */
            }
        }
    </style>
</head>

<body>
    <div class="w-full h-screen overflow-auto p-2 bg-cyan-400">
        <nav class="bg-white mb-2 rounded border-gray-200  dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <span href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap capitalize dark:text-white">social
                        media</span>
                </span>
                <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button type="button"
                        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                        data-dropdown-placement="bottom">
                        <span class="sr-only">Open user menu</span>
                        <a href="/profile">
                            <img class="w-8 h-8 rounded-full object-cover " src="<%=user.image%>" alt="user photo">
                        </a>
                    </button>
                    <!-- Dropdown menu -->
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                        id="user-dropdown">
                        <div class="px-4 py-3">
                            <span class="block text-sm text-gray-900 dark:text-white">
                                <%=user.name%>
                            </span>
                            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">
                                <%=user.email%>
                            </span>
                        </div>
                        <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                                <a href="/post" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                    dark:text-gray-200 dark:hover:text-white">post</a>
                            </li>
                            <li>
                                <a href="/status" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                    dark:text-gray-200 dark:hover:text-white">status</a>
                            </li>
                            <li class="relative">
                                <a href="/chat/<%=user._id%>" class="block px-4 capitalize py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                    dark:text-gray-200 dark:hover:text-white">message</a>
                            </li>
                            <li>
                                <a href="/logout" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                    dark:text-gray-200 dark:hover:text-white">
                                    logout</a>
                            </li>
                        </ul>
                    </div>
                    <button data-collapse-toggle="navbar-user" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-user" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                    <ul
                        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="/post" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                dark:text-gray-200 dark:hover:text-white">post</a>
                        </li>
                        <li>
                            <a href="/status" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                dark:text-gray-200 dark:hover:text-white">status</a>
                        </li>
                        <li class="relative">
                            <a href="/chat/<%=user._id%>" class="block px-4 capitalize py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                dark:text-gray-200 dark:hover:text-white">message</a>
                            <span
                                class="absolute bg-cyan-400 flex items-center top-1 right-0 justify-center text-white text-[12px] w-4 h-4 rounded-full">
                                <%=friends.length%>
                            </span>
                        </li>
                        <li>
                            <a href="/logout" class="block capitalize px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 
                                dark:text-gray-200 dark:hover:text-white">
                                logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- content -->
        <div class="w-full h-[510px] flex gap-2 justify-around rounded p-2 bg-white">
            <!-- profile card -->
            <div class="profilebox w-[600px] bg--400 p-2 rounded">
                <div
                    class="h-[60px] mb-2 relative flex shadow-md items-center gap-10 justify-evenly bg-white rounded-full">
                    <img class="w-[50px] object-cover cursor-pointer ml-[-2px] rounded-full bg-auto bg-cyan-400 p-[2px] h-[50px]"
                        src="<%= user.image %>" alt="">
                    <span class="uppercase font-serif text-xl">
                        <%= user.name %>
                    </span>
                    <span onclick="showMenu()" class="cursor-pointer iconbox btnclick w-[40px] text-3xl"><i
                            class="ri-align-justify"></i></span>
                    <div id="manuOpt"
                        class="absolute flex hidden top-12 right-1 capitalize gap-[4px] flex-col p-1 bg-gray-200">
                        <a class="bg-white px-5" href="/profile/update/<%=user._id%>">profile edit</a>
                        <a class="bg-white px-5" href="/profile/delete/<%=user._id%>">delete account</a>
                        <a class="bg-white px-5" href="/logout">logout</a>
                    </div>
                </div>
                <!-- profile page -->
                <div class="w-full bg-gray-200 shadow-md z-0 h-[410px] p-2 rounded-3xl overflow-scroll scroll">
                    <div class="w-full p-1 h-[200px] bg-white rounded-t-[20px]">
                        <!-- cover photo -->
                        <img class="w-full cursor-pointer shadow-md h-full rounded-t-[16px] object-cover"
                            src="<%=user.coverimage %>" />
                    </div>
                    <div class="w-full bg--400 relative">
                        <!-- profile image -->
                        <img class="w-[140px] h-[140px] cursor-pointer mt-[-70px] object-cover ml-[20px] rounded-full p-1 bg-blue-400"
                            src="<%= user.image %>" alt="">
                        <%if(user){%>
                            <span
                                class="bg-green-400 absolute border-2 left-[130px] bottom-[-34px] w-4 h-4 rounded-full"></span>
                            <%}%>
                                <!-- profile name  -->
                                <span
                                    class="mt-[-76px]  z-0 block rounded-b-[10px] flex justify-center mr-[16px] mb-2 font-sans p-1 leading-[24px] bg--400 uppercase text-[15px] font-bold ml-[186px]">
                                    <%= user.name %>
                                </span>
                                <!-- profile caption -->
                                <div class="w-[220px] text-wrap text-[12px] rounded-[15px] text- absolute
                                 bg--400 text-center font-serif mt-[-10px] ml-[156px] p-[4px] bg--400">
                                    <%=user.intro %>
                                </div>
                                <!-- <div class="w-full bg-cyan-400"> -->
                                <!-- </div> -->
                    </div>
                    <button class="px-5 mt-12 ml-[46px] capitalize text-white font-serif
                         py-1 bg-cyan-400 hover:bg-cyan-500 rounded">follow</button>
                    <div class="mt-2 bg-white shadow-md rounded p-2 text-blue-700 text-xl">
                        <div class="relative items-center flex justify-between">
                            <span
                                class="capitalize bg-cyan-500 shadow-md p-1 pl-2 rounded text-white w-full font-serif">friends</span>
                            <input type="text" id="searchInput" placeholder="Search . . . ."
                                class="right-10 hidden rounded font-serif showinput absolute text-[12px] pl-2 placeholder:capitalize ml-4 text-black outline-none border-[1px] border-b-gray">
                            <span
                                class="capitalize searchicon absolute w-[28px] flex justify-center p-2 cursor-pointer text-[14px] items-center rounded-full bg-white text-blue-700 h-[28px] left-[330px] font-serif">
                                <i id="searchIcon" class="text-cyan-600 ri-search-line" onclick="showInputBox()"></i>
                                <i id="cancelIcon" class="hidden text-cyan-600 ri-close-line"
                                    onclick="hideInputBox()"></i>
                            </span>
                        </div>

                        <div class="w-[363px] h-[126px] overflow-y-scroll scroll flex flex-wrap gap-2 p-2 mt-2 rounded">
                            <!-- Friends list -->
                            <% if(friends.length> 0) { %>
                                <% friends.forEach(fn=> { %>
                                    <div class="relative w-[100px] rounded bg-white h-[100px] friend-item">
                                        <img class="rounded object-cover shadow-md h-full w-full cursor-pointer"
                                            src="<%= fn.image %>" alt="<%= fn.name %>">
                                        <span
                                            class="friend-name w-[100px] flex font-serif items-center pl-[2px] h-[20px] truncate ... p-[2px] rounded text-white absolute text-black left-[5px] capitalize p-1 bottom-[4px] text-[12px]">
                                            <%= fn.name %>
                                        </span>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="w-full text-center text-cyan-600 capitalize">No friends</p>
                                            <% } %>
                        </div>
                    </div>
                    <div class="mt-2 bg-white shadow-md text-blue-700 rounded p-2 text-xl">
                        <span
                            class="capitalize bg-cyan-500 text-white shadow-md p-1 pl-2 block rounded w-full font-serif">Photos</span>
                        <div
                            class="w-[363px] h-[140px] overflow-y-scroll scroll flex flex-wrap gap-2 p-2 mt-2 bg--400 rounded">
                            <!-- Display all post images -->
                            <% if(imageUrls.length>0) { %>
                                <% imageUrls.forEach(image=> { %>
                                    <div class="relative w-[108px] rounded bg-white h-[110px]">
                                        <img class="rounded object-cover h-full w-full cursor-pointer"
                                            src="<%= image %>" alt="">
                                    </div>
                                    <% }); %>
                                        <%}else{%>
                                            <p class="w-full text-center text-cyan-600 capitalize">no post</p>
                                            <%}%>
                        </div>
                    </div>
                    <div class="mt-2 bg-white shadow-md rounded p-2 text-xl">
                        <span
                            class="capitalize block rounded p-1 bg-cyan-500 text-white w-full font-serif">abouts</span>
                        <hr>
                        <div class="w-full font-serif h-full overflow-y-scroll scroll
                                flex flex-wrap gap-2 p-2 mt-2 text-black bg--400 rounded">
                            <!-- your about list -->
                            <%=user.about%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- all post, content -->
            <div class=" w-full h-full bg--400 rounded">
                <div class="w-full h-[480px] overflow-y-scroll scroll  rounded">
                    <div class="w-full bg-[#F0F2F5] rounded">
                        <!-- show status -->
                        <div class="w-full h-[130px] relative rounded p-1 overflow-y-scroll bg-gray-100">
                            <div class="flex gap-2 overflow-x-auto pb-2 w-[860px]">
                                <!-- friends list -->
                                <% // Initialize an empty object to keep track of displayed users const
                                    displayedUsers={}; %>

                                    <% Allstatus.forEach((status)=> { %>
                                        <% if (!displayedUsers[status.user._id]) { %>
                                            <div class="w-32 h-[120px] flex relative p-1 rounded shadow-md bg-white">
                                                <div class="w-[120px] relative rounded-t">
                                                    <a href="/status/user/<%= status.user._id %>">
                                                        <img src="<%= status.user.image %>"
                                                            class="w-full h-full rounded-[30px] object-cover mb-1"
                                                            alt="<%= status.user.name %>">
                                                    </a>
                                                </div>
                                                <span
                                                    class="absolute text-center font-serif w-full bottom-2 capitalize text-black">
                                                    <span class="px-1 text-[15px] rounded bg-[rgba(255,255,255,0.7)]">
                                                        <%= status.user.name %>
                                                    </span>
                                                </span>
                                            </div>
                                            <% // Mark this user as displayed displayedUsers[status.user._id]=true; %>
                                                <% } %>
                                                    <% }) %>

                            </div>
                        </div>

                        <div class="w-full h-[230px] relative rounded p-1 overflow-y-scroll bg-gray-100">
                            <div
                                class="w-full bg-white flex justify-center shadowEffect capitalize font-serif text-[20px] mb-1 rounded uppercase">
                                friends suggestions
                            </div>
                            <div class="flex gap-2 overflow-x-auto gap-2 bg--400 pb-2 w-[860px]">
                                <!-- friends list -->
                                <% allUserdata.reverse().forEach((user)=> { %>
                                    <div class="w-32 h-[180px] flex relative p-1 rounded shadow-md bg-white">
                                        <div class="w-[200px] relative rounded bg--400 ">
                                            <!-- hide suggest fnd -->
                                            <div
                                                class="absolute flex right-1 top-1 justify-center items-center bg-[rgba(255,255,255,0.7)] cursor-pointer hover:bg-[rgba(255,255,255,0.4)] w-7 h-7 rounded-full">
                                                <i class="ri-close-large-line"></i>
                                            </div>
                                            <a href="/user/<%= user._id %>">
                                                <img src="<%= user.image %>"
                                                    class="w-full h-[78%] rounded object-cover mb-1"
                                                    alt="<%=user.name%>">
                                            </a>
                                            <span
                                                class="absolute text-center font-serif w-full bottom-[42px] capitalize text-black">
                                                <span class="px-1 text-[15px] rounded bg-white">
                                                    <%= user.name %>
                                                </span>
                                            </span>
                                            <div
                                                class="w- p-1 relative font-serif bg-cyan-400 hover:bg-cyan-500 uppercase rounded cursor-pointer text-white text-center text-[16px]">
                                                <% if (friends.some(fn=> fn._id.toString() ===
                                                    user._id.toString())) { %>
                                                    <span class="text-[12px]"
                                                        onclick="showRemoveFnd('<%= user._id %>')">friend</span>
                                                    <div id="deletebtn_<%= user._id %>"
                                                        class="absolute flex hidden justify-center items-center rounded top-1 right-1 w-6 h-6 bg-red-600">
                                                        <a href="/friend/remove/<%= user._id %>">
                                                            <i class="ri-delete-bin-5-line"></i>
                                                        </a>
                                                    </div>
                                                    <div id="cancelbtn_<%= user._id %>"
                                                        class="absolute flex hidden justify-center items-center rounded top-1 left-1 w-6 h-6 bg-green-600">
                                                        <i onclick="cancel('<%= user._id %>')"
                                                            class="ri-close-line"></i>
                                                    </div>
                                                    <% } else { %>
                                                        <a class="text-[12px]" href="/friend/<%= user._id %>">
                                                            <span>add friend</span>
                                                        </a>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </div>
                        <!-- all post -->
                        <% posts.reverse().forEach((post)=> { %>
                            <div class="w-full gap-2 bg-[#F0F2F5] flex mt-2 rounded p-">
                                <div id="flex-n" class="w-full flex justify-center rounded">
                                    <!-- Post content -->
                                    <div
                                        class="post-container bg--400 w-full max-w-[500px] relative rounded-[15px] p-2 bg-white shadowEffect">
                                        <div
                                            class="user-info shadow-md w-full flex items-center gap-2 p-1 shadowEffect">
                                            <a class="w-[54px]" href="/user/<%= post.user._id %>">
                                                <img src="<%= post.user.image %>"
                                                    class="user-avatar w-[50px] p-1 h-[50px] object-cover rounded-full"
                                                    alt="<%= post.user.name %>">
                                            </a>
                                            <span onclick="showOpt(`<%=post._id%>`)" id="showOpt_<%=post._id%>"
                                                class="absolute cursor-pointer rounded-full hover:bg-gray-100 p-1 right-5">
                                                <img class="w-6 h-6"
                                                    src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/menu2-512.png"
                                                    alt="">
                                                <div id="option_<%=post._id%>"
                                                    class="absolute flex top-8 hidden right-0 z-10 gap-2 flex-col w-32 bg-gray-200 p-1 capitalize">
                                                    <% if (user._id.toString()===post.user._id.toString()) { %>
                                                        <a class="bg-white px-2" href="/post/edit/<%= post._id %>">Edit
                                                            Post</a>
                                                        <a class="bg-white px-2"
                                                            href="/post/delete/<%= post._id %>">Delete Post</a>
                                                        <% } else { %>
                                                            <a class="bg-white px-2"
                                                                href="/post/hide/<%= post._id %>">Hide Post</a>
                                                            <a class="bg-white px-2"
                                                                href="/post/report/<%= post._id %>">Report Post</a>
                                                            <% } %>
                                                </div>
                                            </span>
                                            <div
                                                class="user-details w-full leading-[15px] flex flex-col justify-center font-serif bg--400">
                                                <div class="user-name capitalize">
                                                    <%= post.user.name %>
                                                </div>
                                                <div class="post-date">
                                                    <%= post.date.toLocaleString() %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-caption shadow-md w-full font-serif pl-[10px] bg-white ">
                                            <%= post.caption %>
                                        </div>
                                        <div class="post-image mb-2 w-full bg-white rounded relative">

                                            <img src="<%= post.image %>"
                                                class="post-img bg-white p-2 cursor-pointer object-cover w-full h-full"
                                                alt="Post Image">
                                            <!-- <span class="fullscreen-icon w-[30px] h-[30px] flex justify-center items-center
                                                      top-2 right-2 absolute bg-white rounded-full">
                                                     <i class="ri-fullscreen-fill cursor-pointer text-xl"></i>
                                                 </span> -->
                                        </div>
                                        <!-- Buttons -->
                                        <div class="w-full bg-white rounded p-1 flex-col flex">
                                            <div class="w-full flex justify-around">
                                                <span>
                                                    <%= post.likes.length %>
                                                </span>
                                                <span>
                                                    <%= post.comments.length %>
                                                </span>
                                                <span>
                                                    0
                                                </span>
                                            </div>
                                            <hr>
                                            <div class="w-full flex font-serif justify-around">
                                                <button
                                                    class="py-2 px-4 rounded capitalize active:bg-blue-400 active:text-white">
                                                    <a href="/like/<%= post._id %>">like</a>
                                                </button>
                                                <button class="py-2 px-4 rounded capitalize active:bg-gray-100"
                                                    onclick="showComments('<%= post._id %>')">comment</button>
                                                <button
                                                    class="py-2 px-4 rounded capitalize active:bg-gray-100">share</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="commentBox_<%= post._id %>"
                                        class=" w-96 max-h-96 comment-box relative overflow-auto rounded bg-teal-400 p-2"
                                        style="display: none;">
                                        <div class="w-full font-serif bg-white mb-2 p-2 rounded capitalize">
                                            comments
                                            <span class="text-sm text-gray-500">(<%= post.comments.length %>)</span>
                                        </div>
                                        <div class="mb-14">

                                            <% post.comments.forEach(comment=> { %>
                                                <% if (comment.user) { %>
                                                    <div
                                                        class=" z-10 relative text-[13px] capitalize text-center font-serif">
                                                        <div class="w-full flex bg--400 items-center rounded p-1">
                                                            <a href="/user/<%=comment.user._id %>">
                                                                <img class="w-[40px] p-[2px] bg-white h-[40px] object-cover rounded-full"
                                                                    src="<%=comment.user.image %>" alt="">
                                                            </a>
                                                            <span class="pl-2 wrap text-white text-[16px]">
                                                                <%= comment.user.name%>
                                                            </span>
                                                            <span
                                                                class="absolute left-[56px] top-[30px] text-[12px] text-zinc-600 bottom-1">
                                                                comment
                                                            </span>
                                                            <span class="absolute right-2 text-white">
                                                                <%= comment.date.toLocaleString() %>
                                                            </span>
                                                        </div>
                                                        <p class="w-full top-10 wrap mb-1 text-start pr-4 pl-14">
                                                            <%= comment.comment %>
                                                        </p>
                                                    </div>
                                                    <% } %>
                                                        <% }); %>
                                        </div>
                                        <div class=" w-[calc(100%-16px)] absolute ">
                                            <form class="flex bg-gray-200 shadow-md p-1 rounded gap-1"
                                                action="/comment/<%= post._id %>" method="post">
                                                <input type="text" name="comment"
                                                    placeholder="Enter Your Comments . . . ."
                                                    class="capitalize bg-white outline-none border-none pl-2 rounded flex-grow text-[14px]">
                                                <input type="submit"
                                                    class="capitalize font-serif text-[14px] cursor-pointer p-2 bg-white rounded"
                                                    value="comment">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/script.js"></script>

</html>