<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        .scroll::-webkit-scrollbar {
            width: 1px;
        }

        .smoothEffect {
            transition: all 2s ease;
        }

        .postimage {
            padding: 2px;
            background: gray;
        }

        .shadowEffect {
            border-radius: 16px;
            background: #ffffff;
            box-shadow: 32px 32px 100px #c2c2c2,
                -32px -32px 100px #ffffff;
        }

        @media only screen and (max-width: 600px) {
            .profile {
                display: none;
            }
        }

        .zoomed-image-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        #zoomedImage {
            max-width: 80%;
            max-height: 80%;
        }

        .image-thumbnail {
            cursor: pointer;
            height: 100px;
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="w-full h-screen relative p-4 bg-cyan-400">
        <a class="w-[40px] h-[40px] hover:text-red-400 hover:font-semibold p-1 hover:text-[20px] absolute bg-white top-2 right-2 flex justify-center items-center rounded-full"
            href="/profile"><i class="ri-home-4-line z-10"></i></a>

        <div class="h-full bg-gray-200 font-serif overflow-auto dark:bg-gray-800 p-2 flex flex-wrap justify-center  ">
            <div
                class="container lg:w-2/6 xl:w-2/7 sm:w-full md:w-2/3 p-[15px] bg-gray-100 shadow-lg transform duration-200 easy-in-out">
                <div class=" h-34 overflow-hidden">
                    <img class=" w-full object-cover p-[16px]" src="<%=user.coverimage%>" alt=""
                        onclick="zoom('<%= user.coverimage %>')" />
                </div>
                <div class="flex justify-center px-5 -mt-24">
                    <img class=" h-32 w-32 bg-white object-cover drop-shadow-lg p-1 rounded-full" src="<%=user.image%>"
                        alt="" onclick="zoom('<%= user.image %>')" />
                </div>
                <div class=" ">
                    <div class="text-center px-14">
                        <h2 class="text-gray-800 capitalize text-xl font-bold">
                            <%=user.name%>
                        </h2>
                        <p>
                            <%=user.intro%>
                        </p>
                    </div>
                    <hr class="my-2" />
                    <% if(currentUser._id.toString()===user._id.toString()) { %>
                        <% }else{ %>
                            <div class="flex mx-24 mb-2 justify-center hover:bg-blue-400 bg-cyan-500">
                                <div
                                    class="text-center flex justify-center items-center text-white w-1/2 p-2 rounded cursor-pointer">
                                    <a class="flex justify-center items-center cursor-pointer"
                                        href="/chat/<%= user._id %>">
                                        Message
                                    </a>
                                </div>
                            </div>
                            <% } %>
                                <!-- Friends Section -->
                                <div class="w-full max-h-80 overflow-auto bg-white shadow-md rounded">
                                    <span class="capitalize block px-4 py-1">Friends (<%= friends.length %>)
                                            <%=mutualFriends.length%> mutual friends</span>
                                    <hr class="h-2 mt-[2px]">
                                    <div class="w-full flex flex-wrap gap-2 p-2">
                                        <% if (friends.length> 0) { %>
                                            <% friends.forEach(fn=> { %>
                                                <div class="relative w-[100px] rounded bg-white h-[100px]">
                                                    <a href="/user/<%= fn._id %>">
                                                        <img class="rounded object-cover shadow-md h-full w-full cursor-pointer"
                                                            src="<%= fn.image %>" alt="<%= fn.name %>">
                                                    </a>
                                                    <span
                                                        class="w-[100px] flex font-serif items-center pl-[2px] h-[20px] truncate p-[2px] rounded text-white absolute text-black left-[5px] capitalize p-1 bottom-[4px] text-[12px]">
                                                        <%= fn.name %>
                                                    </span>
                                                    <% const isFriend=currentUserFriends.some(user=> user._id.toString()
                                                        ===fn._id.toString());
                                                        %>
                                                        <% if (isFriend) { %>
                                                            <!-- Show chat icon if already a friend -->
                                                            <span
                                                                class="absolute right-1 text-teal-400 top-1 w-[20px] p-2 text-[14px] cursor-pointer rounded-full bg-white flex justify-center items-center h-[20px]">
                                                                <a href="/chat/<%= fn._id %>">
                                                                    <i class="ri-chat-3-line"></i>
                                                                </a>
                                                            </span>
                                                            <% } else { %>
                                                                <!-- Show add friend icon if not already a friend -->
                                                                <span
                                                                    class="absolute right-1 text-teal-400 top-1 w-[20px] p-2 text-[14px] cursor-pointer rounded-full bg-white flex justify-center items-center h-[20px]">
                                                                    <a href="/friend/<%= fn._id %>">
                                                                        <i class="ri-user-add-fill"></i>
                                                                    </a>
                                                                </span>
                                                                <% } %>
                                                </div>
                                                <% }); %>
                                                    <% } else { %>
                                                        <!-- Display message if no friends found -->
                                                        <p class="w-full text-center text-cyan-600 capitalize">No
                                                            friends
                                                        </p>
                                                        <% } %>
                                    </div>
                                </div>

                                <!-- Photos Section -->
                                <div class="w-full max-h-80 overflow-auto mt-4 bg-white shadow-md rounded">
                                    <span class="capitalize block px-4 py-1">Photos (<%= imageUrls.length %>)</span>
                                    <hr class="h-2 mt-[2px]">
                                    <div class="w-full flex flex-wrap gap-2 p-2">
                                        <% if(imageUrls.length> 0) { %>
                                            <% imageUrls.forEach(image=> { %>
                                                <div class="relative image-container">
                                                    <img class=" image-thumbnail" src="<%= image %>" alt=""
                                                        onclick="zoom('<%= image %>')">
                                                </div>
                                                <% }); %>
                                                    <% } else { %>
                                                        <!-- Display message if no photos found -->
                                                        <p class="w-full text-center capitalize">No photos</p>
                                                        <% } %>
                                    </div>
                                </div>
                                <!-- About Section -->
                                <div class="w-full mt-4 bg-white shadow-md rounded">
                                    <span class="block capitalize p-2">About</span>
                                    <hr class="" />
                                    <p class="p-2">
                                        <%= user.about %>
                                    </p>
                                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Zoomed Image Overlay -->
    <div id="zoomedImageOverlay" class="zoomed-image-overlay">
        <button class="px-4 text-xl py-2 font-semibold rounded-full bg-white absolute top-[10px] right-8"
            onclick="closeOverlay()">×</button>
        <img id="zoomedImage" src="" alt="">
    </div>

    <script>

        function zoom(src) {
            const overlay = document.getElementById('zoomedImageOverlay');
            const zoomedImage = document.getElementById('zoomedImage');
            zoomedImage.src = src;
            overlay.style.display = 'flex';
        }

        function closeOverlay() {
            const overlay = document.getElementById('zoomedImageOverlay');
            overlay.style.display = 'none';
        }
    </script>
</body>

</html>
